<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Agile Retro Board</title>
<meta name="description" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script>
		$.ajaxPrefilter(function(options){
			options.url = options.url + '?rnd=' +new Date().getTime();
		});
	</script>
</head>
<body>
	<div class="content">
		<div th:replace="fragments/header :: header"></div>
		<div class="container" style="height: 5px; background-color: green;"></div>
		<div class="container page-body">
			<div class="page-content">
				<div layout:fragment="content"></div>
			</div>
		</div>

		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>
